@font-face {
    font-family: 'Jersey';
    src: url(./../fonts/Jersey10-Regular.ttf) format('truetype');
}

body{
    font-family: 'Jersey';
    font-size: 2em;
    background-image: url(./../img/moroccan-flower.png);
}


.logo{
    width: 150px;
    transition: all 1s ease-in;
}

.logo:hover{
    transform: rotate(-360deg);
}
a{
    text-decoration: none;
    color: blue;
}
ul{
    list-style: none;
    text-align: center;

    
}

li{
    display: inline;
    padding-right: 5px;
    margin: 5px;
}

.menu{
    color: blue;
    background-color: gold;
    border-radius: 10px;
    transition: all 1s ease-in;
    padding: 10px;
}

.menu:hover{
    color: gold;
    background-color: blue;
}

h1{
    text-align: center;
    color: rgb(160, 50, 163);
    font-size: 4em;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-shadow: 10px 10px 30px rgb(69, 67, 67);
    animation: h1shadow 1.5s infinite alternate

}

@keyframes h1shadow {
    from {text-shadow: 10px 10px 30px black;}
    to {text-shadow: 20px 20px 30px black;}
    
}
main{
    margin-top: 10px;
    padding-left: 10px;
}
h2{
    color: rgb(160,50,163, 0.9);
    font-size: 60px;
    text-transform: uppercase;
}
h3{
    color: rgb(15,140,92);
    font-size: 40px;
    text-decoration: underline;
}
.noticia{
    border: 3px solid black;
    border-radius: 20px;
    width: 30%;
    transition: width 0.5s ease-in-out;
}

.noticia:hover{
    width: 40%;
}

section{
    border: 3px solid #F7D773;
    border-radius: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}
figure{
    text-align: center;
    margin-bottom: 0;
}

#subscribe{
    text-align: center;
}
footer{
    text-align: right;
}

